h1 {
    color:chartreuse; /* indico que todos los titulos h1 tendran las propiedades entre llaves*/
}

p {
    color: blue; /*todos los párrafos seran azules*/
    font-size: 10pt;
    color: green;  /* el atributo que viene despues pisa al anterior. en este caso el color verde pisa al azul*/
}

#primera-noticia {  /*Selector por id: indico los estilos de todas las etiquetas que tengan el id "primera-noticia" */
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}
.encabezado { /*Indico que todas las etiquetas con la clase "encabezado" tengan las siguientes propiedades*/
    color: aqua;
    font: bold;
}

* {  /* indica los estilos de todo*/

}

*.warning { /* indica el estilo de todo lo que tenga la clase warning*/
    color: red;
}

.autor, .fecha, .ubicacion {  /* Le aplico estilos a mas de una clase. Tambien puedo combinar con etiquetas o selectores de id*/
    text-decoration: underline;
    font-style: italic;
}


/* tambien se pueden combinar: p#primera-noticia  :todos los que sean parrafos y tengan el id "primera-noticia" 

*/

/*FORMAS DE DEFINIR UN COLOR*/

.color-hexadecimal {        /*Hexadecimal*/
    color: #BCE784;
}

.color-rgb {
    color: rgb(100, 0, 150);  /**RGB (red,green, blue)*/
}

.color-rgba {
    color: rgba(100, 0, 150, 0.5);  /* RGBA: el ultimo parametro define la transparencia u opacidad del color. Se introduce un valor del 0 al 1. Si es 1 es un RGB normal*/
}


/*FONDOS*/
.fondo{
    /*background-color: #BCE784;*/
    background-image: url(../multimedia/imagenes/png-clipart-web-development-logo-computer-programming-design-trademark-logo.png);  /*La url puede ser externa o un path de una img local*/
    background-position: top,center; /*Tambien puedo elegir como centrar un fondo*/
}


