h1 {
    color:chartreuse; /* indico que todos los titulos h1 tendran las propiedades entre llaves*/
}

p {
    color: blue; /*todos los párrafos seran azules*/
    font-size: 10pt;
    color: green;  /* el atributo que viene despues pisa al anterior. en este caso el color verde pisa al azul*/
}

#primera-noticia {  /*Selector por id: indico los estilos de todas las etiquetas que tengan el id "primera-noticia" */
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}
.encabezado { /*Indico que todas las etiquetas con la clase "encabezado" tengan las siguientes propiedades*/
    color: aqua;
    font: bold;
}

* {  /* indica los estilos de todo*/

}

*.warning { /* indica el estilo de todo lo que tenga la clase warning*/
    color: red;
}

.autor, .fecha, .ubicacion {  /* Le aplico estilos a mas de una clase. Tambien puedo combinar con etiquetas o selectores de id*/
    text-decoration: underline;
    font-style: italic;
}
/* tambien se pueden combinar: p#primera-noticia  :todos los que sean parrafos y tengan el id "primera-noticia" 

*/